##=====REGISTRATION/LOGIN/PROFILE PATH===========##
REDIRECT_REG_UNSIGN_USER = '/'
REDIRECT_LOG_UNSIGN_USER = '/'
REDIRECT_SIGN_USER = '/'
##======datebase - select===========##
DATABASE = 'sqlite' # mysql || sqlite
##======datebase - sqlite setting===========##
SCHEMA_NAME = 'schema'
SQLITE_DB_NAME = 'datebase'
##======datebase - mysql connect===========##
DB_HOST = 'localhost'
DB_PORT = '3306'
DB_USERNAME = ''
DB_PASSWORD = ''
DB_NAME = ''
##======datebase - main table name===========##
DB_USERS_TABLE=''
##======Email - setting===========##
EMAIL = 'noreply@example.com'
EMAIL_NICKNAME = 'Уведомление от kavstal'
EMAIL_PASSWORD = '' # secret password (do not commit)
EMAIL_PORT = 587
EMAIL_TO = 'zakaz@example.ru'
##======API - URL===========##
API_URL=api
##======SEO / Analytics / Webmaster ===========##
YWEB_ID = ''       # Yandex WebMaster Measurement ID
YM_ID = ''               # Yandex Metrika Counter ID
GA4_ID = ''           # Google Analytics 4 Measurement ID
GSC_ID = '' # Google Search Console verification code
#GADS_ID = 'AW-XXXXXXXXX'
#GADS_LABEL = 'XXXXXXXXXX'
